.element{
  display: flex;
  justify-content: space-between;
}

.middle{
  width: 100%;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(100vw - sidebarWidth - rightMenuWidth);
}
