.element{
  display: flex;
  justify-content: space-between;
  
  /* height: 1100px; */
}

.middle{
  max-width: 880px;
}

@media (max-width: 500px) {
  .element{
    /* flex-direction: column;     */
  }  
}
